form.login-form {
  margin-top: 10%;
  border: 2px solid black;
  width: 500px;
  margin-left: 25%;
  box-shadow: 1px 1px 82px #333;
    button {
      width: 100%;
}
}
button:hover{
  background-color: #337AB7;
}



.form-control {
  text-align: center;
}
.form-group {
  margin-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
}
