<<<<<<< HEAD
form {
  background-color: red; }

.hidden {
  display: hidden; }

header {
  margin: 0px 0px 50px 0px;
  padding: 0;
  width: 100%;
  background-color: #fff;
  text-align: center;
  border-bottom: 1px solid #000; }
  header h1 {
    font-family: Tahoma; }

=======
>>>>>>> 30e1792dfe0db00b625a911d48e9f7d5b15a789c
.formContent {
  margin-top: 50px; }

.hidden {
  display: hidden; }

.hero {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }
