.formContent {
  margin-top: 50px;
  background-color: #999;
  padding: 1%; }
  .formContent h3 {
    text-align: center;
    margin-top: 0;
    color: #fff; }
  .formContent input {
    width: 24.5%;
    display: inline-block;
    border-radius: 4px;
    border: none; }
  .formContent #createButton {
    width: 100%;
    color: #fff;
    background-color: #ddd;
    font-size: 20px; }
  .formContent #createButton:hover {
    background-color: #fff;
    color: #b6b6b6; }
  .formContent textarea {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    border-radius: 4px;
    border: none; }

* {
  box-sizing: border-box; }

.hidden {
  display: hidden; }

.hero {
  width: 100%;
  height: 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  box-shadow: 1px 1px 15px #333; }

body {
  background-color: #fff; }

h1 {
  color: gray;
  font-family: 'Dorsa', sans-serif;
  font-weight: lighter; }

.login-form {
  margin-top: 10%;
  border: 1px solid black;
  width: 500px;
  margin-left: 25%;
  box-shadow: 0px 0px 30px #aaa; }
  .login-form button {
    width: 100%; }

button:hover {
  background-color: #337AB7; }

.form-control {
  text-align: center; }

.form-group {
  margin-top: 5%;
  padding-left: 2%;
  padding-right: 2%; }

header {
  position: relative;
  margin: 0px 0px 50px 0px;
  padding: 0;
  width: 100%;
  background-color: #fff;
  text-align: center;
  border-bottom: 1px solid #000; }
  header header::after {
    clear: both; }
  header .homeBtn:hover {
    cursor: pointer; }
  header h1 {
    font-family: Tahoma; }
  header i.fa.fa-bars {
    font-size: 20px; }
  header .fa-sign-in:before {
    margin-right: 5px; }
  header span.menu {
    float: right;
    margin-left: 35px; }
  header span:hover {
    cursor: pointer; }
  header span#signIn {
    float: left; }

.dropdown {
  position: absolute;
  right: 0;
  bottom: -67px;
  background-color: #fff; }
  .dropdown ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000; }
  .dropdown li {
    display: block;
    padding-right: 5px;
    padding-left: 5px;
    color: #000;
    text-decoration: none;
    font-size: 16px; }
  .dropdown li:hover {
    cursor: pointer;
    color: #777; }

.content {
  width: 100%;
  margin-top: 50px; }
  .content article {
    width: 100%;
    display: inline-block; }

img {
  background: white;
  display: inline;
  float: left;
  margin: 0 15px 30px;
  padding: 10px 10px 25px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
  z-index: 0; }

img :after {
  color: #333;
  font-size: 20px;
  content: attr(title);
  position: relative;
  top: 15px; }

img {
  display: block;
  width: 400px;
  height: 300px; }

img :nth-child(2n) {
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  transform: rotate(4deg); }

img :nth-child(3n) {
  -webkit-transform: rotate(-24deg);
  -moz-transform: rotate(-24deg);
  transform: rotate(-24deg); }

img :nth-child(4n) {
  -webkit-transform: rotate(14deg);
  -moz-transform: rotate(14deg);
  transform: rotate(14deg); }

img :nth-child(5n) {
  -webkit-transform: rotate(-18deg);
  -moz-transform: rotate(-18deg);
  transform: rotate(-18deg); }

img :hover {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 10;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7); }

h4 {
  font-family: 'Special Elite', cursive; }

h4, .buttonWrapper {
  margin-left: 30px; }

.edit {
  background-color: #0066FF;
  border: 2px solid #0066FF; }

.delete {
  background-color: #0066FF;
  border: 2px solid #0066FF; }

p {
  margin-left: 30px;
  font-family: 'Special Elite', cursive; }
